/* MAIN-GLOBAL */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* APP */
.nav-header {
  display: flex;
  background-color: grey;
  height: 10vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: 0 5px;
}

.footer {
  height: 10vh;
  margin-top: auto;
  background-color: aquamarine;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn-login {
  height: 50%;
  padding: 2px;
  background-color: transparent;
  border: 2px solid goldenrod;
}

.btn-register {
  padding: 2px;
  height: 50%;
  background-color: goldenrod;
  color: white;
}

.logo {
  margin-right: auto;
  background-color: black;
  width: 8vh;
  height: 80%;
  border-radius: 50%;
}

.click-me-btn {
  height: 100px;
  width: 200px;
  background-color: lightcoral;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-me-btn:active {
  background-color: cornflowerblue;
}

main {
  padding: 0.5rem 1rem;
}

.header-title {
  margin-right: auto;
}

.none {
  display: none;
}

.form-post-product {
  padding: 0.2rem;
  border: 2px solid black;
}

.form-post-product > input,
.form-post-product > button {
  display: block;
  margin: 0.2rem 0;
}

.square {
  height: 200px;
  width: 200px;
}

label {
  display: block;
  margin-top: 2px;
}

.container-operator {
  background-color: lightcoral;
}

.operator {
  width: 10%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.minus {
  border: 2px solid black;
}

.plus {
  background-color: white;
}

.number {
  font-size: 1.5rem;
  font-weight: 500;
}

.calc-wrapper,
.calc-screen,
.calc-input,
.calc-numbers,
.calc-operators,
.calc-operator,
.calc-number {
  border: 2px solid black;
  border-radius: 20px;
}

.calc-wrapper {
  height: 500px;
  width: 300px;
}

.calc-screen {
  height: 20%;
  width: 90%;
  text-align: right;
  font-size: 3rem;
  overflow: scroll;
}

.calc-input {
  height: 70%;
  width: 90%;
}

.calc-numbers {
  flex: 3;
}

.calc-operators {
  flex: 1;
}

.calc-operator {
  flex: 1;
  margin: 2px;
}

.calc-operator p,
.calc-number p {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
  font-size: 1.3rem;
}

.calc-number {
  min-width: 33%;
  height: 20%;
  margin-top: 2px;
  cursor: pointer;
}

.title-changer-wrapper input {
  display: block;
}
